<% layout('/layouts/adminboilerplate') -%>
    <link rel="stylesheet" href="/stylesheet/admin.css">
    <link rel="stylesheet" href="/stylesheet/stars.css">

    <div class="container">


        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-Pending-tab" data-bs-toggle="tab" data-bs-target="#nav-Pending"
                    type="button" role="tab" aria-controls="nav-Pending" aria-selected="true">Pending</button>
                <button class="nav-link" id="nav-Approved-tab" data-bs-toggle="tab" data-bs-target="#nav-Approved"
                    type="button" role="tab" aria-controls="nav-Approved" aria-selected="false">Approved</button>
                <button class="nav-link" id="nav-Declined-tab" data-bs-toggle="tab" data-bs-target="#nav-Declined"
                    type="button" role="tab" aria-controls="nav-Declined" aria-selected="false">Declined</button>
                <div id="searchBarContainer" class="input-group rounded w-25 ms-auto" style="display: none;">
                    <input type="text" class="form-control rounded" id="searchInput" placeholder="Search"
                        aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <button id="searchButton" class="" style="border: none;"><i class="fas fa-search"></i></button>
                    </span>
                </div>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-Pending" role="tabpanel" aria-labelledby="nav-Pending-tab"
                tabindex="0">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="pendingTable" width="100%" cellspacing="0">
                            <h2 class="h2">For Approval</h2>
                            <thead>
                                <tr>
                                    <th scope="col">Student #</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Curriculum</th>
                                    <th scope="col">Year Level</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>

                                </tr>
                            </thead>
                            <% for(let student of students){ %>
                                <% if(student.status.includes("Pending")){ %>
                                    <tbody id="pendingTableBody">
                                        <tr>
                                            <th scope="row">
                                                <%= student.student.studentNumber%>
                                            </th>
                                            <td>
                                                <%= student.student.firstName%>
                                                    <%= student.student.lastName%>

                                            </td>
                                            <td>
                                                <%= student.curriculum%>
                                            </td>
                                            <td>
                                                <%= student.yearLevel%>
                                            </td>
                                            <td>
                                                <select class="form-select form-select-sm student-status"
                                                    aria-label=".form-select-sm example"
                                                    data-student-id="<%= student._id %>">
                                                    <option <%=student.status==='Pending' ? 'selected' : '' %>
                                                        value="Pending">Pending</option>
                                                    <option <%=student.status==='Approved' ? 'selected' : '' %>
                                                        value="Approved">Approved</option>
                                                    <option <%=student.status==='Declined' ? 'selected' : '' %>
                                                        value="Declined">Declined</option>

                                                </select>
                                            </td>
                                            <td>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                                                        href="#" id="navbarDropdownMenuLink" role="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Update
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-end"
                                                        aria-labelledby="navbarDropdownMenuLink">
                                                        <li class="text-center dropdown-item" data-toggle="modal"
                                                            data-target="#studentDetailsModal"
                                                            data-student='<%= JSON.stringify(student) %>'
                                                            data-student-id='<%= student._id%>'
                                                            style="cursor: pointer;">
                                                            View Details
                                                        </li>

                                                        <li class="text-center">
                                                            <% if(currentUser){ %>
                                                                <form class="d-inline text-center dropdown-item"
                                                                    action="/students/<%=student._id%>?_method=DELETE"
                                                                    method="post">
                                                                    <button
                                                                        style="border: none; background: none;">Delete</button>
                                                                </form>
                                                                <% } %>
                                                        </li>
                                                        <li class="text-center">
                                                            <a class="dropdown-item" data-bs-toggle="modal"
                                                                data-bs-target="#updateStudent<%= student._id %>"
                                                                data-bs-whatever="@getbootstrap"
                                                                style="cursor: pointer;">
                                                                Update</a>
                                                        </li>

                                                    </ul>
                                                </li>

                                            </td>
                                        </tr>

                                    </tbody>

                                    <% } %>
                                        <% } %>
                        </table>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="nav-Approved" role="tabpanel" aria-labelledby="nav-Approved-tab"
                tabindex="0">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="approvedTable" width="100%" cellspacing="0">
                            <h1 class="h1">Approved Students</h1>
                            <thead>
                                <tr>
                                    <th scope="col">Student #</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Curriculum</th>
                                    <th scope="col">Year Level</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                    <th scope="col">Fee Status</th>
                                    <th scope="col">Remaining Balance</th>
                                </tr>
                            </thead>
                            <% for(let student of students){ %>
                                <% if(student.status.includes("Approved")){ %>
                                    <tbody id="approvedTableBody">
                                        <tr>
                                            <th scope="row">
                                                <%= student.student.studentNumber%>
                                            </th>
                                            <td>

                                                <%= student.student.firstName%>
                                                    <%= student.student.lastName%>

                                            </td>
                                            <td>
                                                <%= student.curriculum%>
                                            </td>
                                            <td>
                                                <%= student.yearLevel%>
                                            </td>
                                            
                                            <td style="background-color: rgb(0, 179, 0);color: white;"
                                                class="text-center">
                                                <%= student.status %>
                                            </td>
                                            
                                            <td>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                                                        href="#" id="navbarDropdownMenuLink" role="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Update
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-end"
                                                        aria-labelledby="navbarDropdownMenuLink">
                                                        <li class="text-center dropdown-item" data-toggle="modal"
                                                            data-target="#studentDetailsModal"
                                                            data-student='<%= JSON.stringify(student) %>'
                                                            data-student-id='<%= student._id%>'
                                                            style="cursor: pointer;">
                                                            View Details
                                                        </li>

                                                        <li class="text-center">

                                                            <form class="d-inline text-center dropdown-item"
                                                                action="/students/<%=student._id%>?_method=DELETE"
                                                                method="post">
                                                                <button
                                                                    style="border: none; background: none;">Delete</button>
                                                            </form>

                                                        </li>
                                                        <li class="text-center">
                                                            <a class="dropdown-item" data-bs-toggle="modal"
                                                                data-bs-target="#updateStudent<%= student._id %>"
                                                                data-bs-whatever="@getbootstrap"
                                                                style="cursor: pointer;">
                                                                Update</a>
                                                        </li>
                                                        <li class="text-center">
                                                            <a class="dropdown-item" data-bs-toggle="modal"
                                                            data-bs-target="#addFeeModal<%= student._id %>"
                                                                data-bs-whatever="@getbootstrap"
                                                                style="cursor: pointer;">
                                                                Add Fee</a>
                                                        </li> 
                                                        <li class="text-center">
                                                            <a class="dropdown-item" data-bs-toggle="modal"
                                                            data-bs-target="#addGradeModal<%= student._id %>"
                                                                data-bs-whatever="@getbootstrap"
                                                                style="cursor: pointer;">
                                                                Add Grade</a>
                                                        </li> 

                                                    </ul>
                                                </li>

                                            </td>
                                            <td class="me-auto">
<%=student.totalAmount%>

                                            </td>
                                            
                                            <td>
                                                <select class="form-select form-select-sm student-feeStatus"
                                                    aria-label=".form-select-sm example"
                                                    data-student-id="<%= student._id %>">
                                                    <option <%=student.feeStatus==='Pending' ? 'selected' : '' %>
                                                        value="Pending">Pending</option>
                                                    <option <%=student.feeStatus==='Approved' ? 'selected' : '' %>
                                                        value="Approved">Paid</option>
                                                    <option <%=student.feeStatus==='Declined' ? 'selected' : '' %>
                                                        value="Declined">Declined</option>
                                                </select>
                                            </td>
                                           
                                        </tr>

                                    </tbody>
                                  
                               
                                    <% } %>
                                        <% } %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Declined" role="tabpanel" aria-labelledby="nav-Declined-tab"
                tabindex="0">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="declinedTable" width="100%" cellspacing="0">
                            <h1 class="h1">Declined Students</h1>
                            <thead>
                                <tr>
                                    <th scope="col">Student #</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Curriculum</th>
                                    <th scope="col">Year Level</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <% for(let student of students){ %>
                                <% if(student.status.includes("Declined")){ %>
                                    <tbody id="declinedTableBody">
                                        <tr>
                                            <th scope="row">
                                                <%= student.student.studentNumber%>
                                            </th>
                                            <td>

                                                <%= student.student.firstName%>
                                                    <%= student.student.lastName%>

                                            </td>
                                            <td>
                                                <%= student.curriculum%>
                                            </td>
                                            <td>
                                                <%= student.yearLevel%>
                                            </td>
                                            <td style="background-color: rgb(179, 0, 0);color: white;"
                                                class="text-center">
                                                <%= student.status %>
                                            </td>
                                            <td class="text-center">
                                                <% if(currentUser){ %>
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                                                            href="#" id="navbarDropdownMenuLink" role="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            Update
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                            aria-labelledby="navbarDropdownMenuLink">
                                                            <li>
                                                                <form class="d-inline"
                                                                    action="/students/<%=student._id%>?_method=DELETE"
                                                                    method="post">
                                                                    <button class="dropdown-item">Delete</button>
                                                                </form></a>
                                                            </li>
                                                            <li>
                                                                <select
                                                                    class="form-select form-select-sm student-status"
                                                                    aria-label=".form-select-sm example"
                                                                    data-student-id="<%= student._id %>">
                                                                    <option <%=student.status==='Pending' ? 'selected'
                                                                        : '' %>
                                                                        value="Pending">Pending</option>
                                                                    <option <%=student.status==='Approved' ? 'selected'
                                                                        : '' %>
                                                                        value="Approved">Approved</option>
                                                                    <option <%=student.status==='Declined' ? 'selected'
                                                                        : '' %>
                                                                        value="Declined">Declined</option>

                                                                </select>

                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <% } %>

                                            </td>
                                        </tr>

                                    </tbody>

                                    <% } %>
                                        <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>

    </div>
    <%- include('../modals/student') %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/javascript/studentadmin.js"></script>




        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>