<% students.forEach(function(student){%>
    <div class="modal fade" id="updateStudent<%= student._id %>" tabindex="-1"
        aria-labelledby="studentLabel<%= student._id %>" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="studentLabel">Upadatinf Student Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/students/<%= student._id %>?_method=PUT" method="POST"
                        class="validated-form needs-validation" novalidate enctype="multipart/form-data">
                        <div class="form-outline mb-3 row">
                            <label for="formFileMultiple" class="form-label">First Name</label>
                            <input type="text" class="form-control w-50" name="student[firstName]"
                                aria-label="firstName" aria-describedby="basic-addon1"
                                value="<%= student.student.firstName %>">
                            <label for="formFileMultiple" class="form-label">Last Name</label>
                            <input type="text" class="form-control w-25 ms-2" name="student[lastName]"
                                aria-label="firstName" aria-describedby="basic-addon1"
                                value="<%= student.student.lastName %>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a name.
                            </div>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="formFileMultiple" class="form-label">Student Number</label>
                            <input type="text" class="form-control w-25" name="student[studentNumber]"
                                aria-label="firstName" aria-describedby="basic-addon1"
                                value="<%= student.student.studentNumber %>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a name.
                            </div>
                        </div>

                        <div class="form-outline mb-3">
                            <label for="formFileMultiple" class="form-label">Age</label>
                            <input type="number" class="form-control w-25" name="student[age]" aria-label="firstName"
                                aria-describedby="basic-addon1" value="<%= student.student.age %>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a name.
                            </div>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="formFileMultiple" class="form-label">Birthday</label>
                            <input type="date" class="form-control w-50" name="student[birthday]" aria-label="birthday"
                                aria-describedby="basic-addon1"
                                value="<%= student.student.birthday ? new Date(student.student.birthday).toISOString().split('T')[0] : '' %>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a name.
                            </div>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="formFileMultiple" class="form-label">Address</label>
                            <input type="text" class="form-control " name="student[address]" aria-label="firstName"
                                aria-describedby="basic-addon1" value="<%= student.student.address %>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a name.
                            </div>
                        </div>

                        <div class="form-outline mb-3 w-50">
                            <label for="formFileMultiple" class="form-label">Gender</label>
                            <select class="form-select" aria-label="Gender" name="student[gender]" required>
                                <option value="Male" class="male" <%=student.student.gender==='Male' ? 'selected' : ''
                                    %>>Male</option>
                                <option value="Female" class="female" <%=student.student.gender==='Female' ? 'selected'
                                    : '' %>>Female</option>
                            </select>
                        </div>
                        <div class="form-outline mb-3 w-50">
                            <label for="formFileMultiple" class="form-label">Curriculum</label>
                            <select class="form-select" aria-label="Curriculum" name="student[curriculum]">
                                <option disabled>Curriculum</option>
                                <option value="Khmer Education Program"
                                    <%=student.curriculum==='Khmer Education Program' ? 'selected' : '' %>
                                    >Khmer Education Program</option>
                                <option value="International English Program"
                                    <%=student.curriculum==='International English Program' ? 'selected' : '' %>
                                    >International English Program</option>
                                <option value="General English Program"
                                    <%=student.curriculum==='General English Program' ? 'selected' : '' %>
                                    >General English Program</option>
                                <option value="Chinese Language Classes"
                                    <%=student.curriculum==='Chinese Language Classes' ? 'selected' : '' %>
                                    >Chinese Language Classes</option>
                                <option value="Computer Programs" <%=student.curriculum==='Computer Programs'
                                    ? 'selected' : '' %>>Computer
                                    Programs</option>
                                <option value="Day-care" <%=student.curriculum==='Day-care' ? 'selected' : '' %>
                                    >Day-care</option>
                                <option disabled>Extra services:</option>
                                <option value="Transportation" <%=student.curriculum==='Transportation' ? 'selected'
                                    : '' %>>Transportation
                                </option>
                            </select>
                        </div>



                        <div class="form-outline mb-3">
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Choose an image</label>
                                <input class="form-control" type="file" id="image" name="image" multiple>
                            </div>
                        </div>
                        <% student.images.forEach((image, i)=> { %>
                            <div class="col mt-4">
                                <div class="card" style="width: 100px;">
                                    <img class="card-img" src="<%= image.thumbnail %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= image.filename %>" id="image-<%= i %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <button type="submit" class=" btn btn-primary">Update</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </form>




                </div>

            </div>
        </div>
    </div>
    <% }) %>




        <div class="modal fade" id="studentDetailsModal" tabindex="-1" role="dialog"
            aria-labelledby="studentDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="studentDetailsModalLabel">Student Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="border: none; background: none; font-size: 25px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="studentDetailsContent">
                            <div class="Student"
                                style="border: 2px solid rgb(0, 110, 255); padding: 2rem; border-radius: 15px;">
                                <h5>Student Info:</h5>
                                <img id="studentImage" src="" alt="Student Image"
                                    style="max-width: 200px; height: auto; border-radius: 15px; border: 2px solid rgb(84, 158, 255); margin-bottom: 1rem;">
                                <p class=""><strong>Student #: </strong><span class="text-primary"
                                        id="studentNumber"></span></p>
                                <p class=""><strong>Full Name: </strong><span class="text-primary"
                                        id="studentFullName"></span></p>
                                <p class=""><strong>Age: </strong><span class="text-primary" id="studentAge"></span></p>
                                <p class=""><strong>Address: </strong><span class="text-primary"
                                        id="studentAddress"></span></p>
                                <p class=""><strong>Gender: </strong><span class="text-primary"
                                        id="studentGender"></span></p>
                                <p class=""><strong>Curriculum: </strong><span class="text-primary"
                                        id="studentCurriculum"></span></p>
                                <p class=""><strong>Grade: </strong><span class="text-primary" id="studentGrade"></span>
                                </p>
                                <p class=""><strong>Status: </strong><span class="text-primary"
                                        id="studentStatus"></span></p>
                            </div>

                            <!-- Parents' Info -->
                            <div class="Parents"
                                style="border: 2px solid rgb(0, 110, 255); padding: 2rem; border-radius: 15px; margin-top: 1rem; background-color: rgb(84, 158, 255);">
                                <h5 class="text-white">Parents Info:</h5>
                                <p class=""><strong>Father's Name: </strong><span class="text-white"
                                        id="fatherName"></span></p>
                                <p class=""><strong>Father's Occupation: </strong><span class="text-white"
                                        id="fatherOccupation"></span>
                                </p>
                                <p class=""><strong>Mother's Name: </strong><span class="text-white"
                                        id="motherName"></span></p>
                                <p class=""><strong>Mother's Occupation: </strong><span class="text-white"
                                        id="motherOccupation"></span>
                                <p class=""><strong>Phone #: </strong><span class="text-white" id="phoneNumber"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <% students.forEach(function(student){%>
        <div class="modal fade" id="addFeeModal<%= student._id %>" tabindex="-1" aria-labelledby="addFeeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addFeeModalLabel">Add Fee for <%= student.student.firstName %> <%= student.student.lastName %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/admin/students/<%= student._id %>/fees" method="POST">
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" name="description">
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="form-label">Amount</label>
                                <input type="number" class="form-control" id="amount" name="amount">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Fee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }) %>


        <% students.forEach(function(student){%>
        <div class="modal fade" id="addGradeModal<%= student._id %>" tabindex="-1" aria-labelledby="addGradeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addGradeModalLabel">Add Fee for <%= student.student.firstName %> <%= student.student.lastName %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/admin/students/<%= student._id %>/grades" method="POST">
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" name="description">
                            </div>
                            <div class="mb-3">
                                
                                <fieldset class="starability-coinFlip mb-3">
                                    <legend>Rating:</legend>
                                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0"
                                        checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="rating" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="rating" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="rating" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="rating" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="rating" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Grade</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }) %>
           


        <div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/adminStudent" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 mb-1">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1m"
                                        class="form-control form-control-lg" name="firstName"
                                        required />
                                    <label class="form-label firstName" for="form3Example1m">First
                                        name</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-1">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1n"
                                        class="form-control form-control-lg" name="lastName" required />
                                    <label class="form-label lastName" for="form3Example1n">Last
                                        name</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-outline mb-1">
                            <input type="number" id="form3Example90"
                                class="form-control form-control-lg" style="width: 100px;" name="age"
                                required />
                            <label class="form-label age" for="form3Example90">Age</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="form-outline mb-1">
                            <input type="date" id="form3Example97" class="form-control form-control-lg"
                                name="birthday" required />
                            <label class="form-label bday" for="form3Example97">Birthday</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="form-outline mb-1">
                            <select class="form-select" aria-label="Disabled select example"
                                name="gender" style="width: 100px;" required>


                                <option value="Male" class="male">Male
                                </option>
                                <option value="Female" class="female">Female</option>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </select>
                            <label for="form-label" for="gender" class="gender">Gender</label>
                        </div>
                        <div class="form-outline mb-1">
                            <input type="text" id="form3Example8" class="form-control form-control-lg"
                                name="address" required />
                            <label class="form-label address" for="form3Example8">Address</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        
                            <div class="form-outline  mb-1">
                                <input type="text" id="form3Example1m1"
                                    class="form-control form-control-lg" name="motherName"
                                    required />
                                <label class="form-label mother" for="form3Example1m1">Mother's
                                    name</label>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                       
                       
                            <div class="form-outline">
                                <input type="text" id="form3Example1n1"
                                    class="form-control form-control-lg" name="fatherName"
                                    required />
                                <label class="form-label father" for="form3Example1n1">Father's
                                    name</label>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-outline mb-1">
                                <input type="text" id="form3Example8" class="form-control form-control-lg"
                                    name="motherOccupation" required />
                                <label class="form-label  mother-work" for="form3Example8">Mother's
                                    Occupation</label>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-outline mb-1">
                                <input type="text" id="form3Example8" class="form-control form-control-lg"
                                    name="fatherOccupation" required />
                                <label class="form-label  father-work" for="form3Example8">Father's
                                    Occupation</label>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-outline mb-1">
                                <input type="number" id="form3Example8" class="form-control form-control-lg"
                                    name="phoneNumber" required />
                                <label class="form-label phoneNumber" for="form3Example8">Phone
                                    Number</label>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                           
                                <select class="form-select mb-2" aria-label="Disabled select example"
                                    name="curriculum" required="true">
                                    <option value="" selected disabled>Select a Curriculum</option>
                                    <option value="Khmer Education Program">Khmer Education Program
                                    </option>
                                    <option value="International English Program">International
                                        English
                                        Program</option>
                                    <option value="General English Program">General English Program
                                    </option>
                                    <option value="Chinese Language Classes">Chinese Language
                                        Classes
                                    </option>
                                    <option value="Computer Programs">Computer Programs</option>
                                    <option value="Day-care">Day-care</option>
                                    <option disabled>Extra services:</option>
                                    <option value="Transportation">Transportation</option>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </select>
                            
                           
                                <select class="form-select mb-2" aria-label="Disabled select example"
                                    name="yearLevel" required="true">
                                    <option value="" selected disabled>Select a Year Level</option>
                                    <option value="Level 1">Level 1
                                    </option>
                                    <option value="Level 2">Level 2</option>
                                    <option value="Level 3">Level 3
                                    </option>
                                    <option value="Level 4">Level 4
                                    </option>
                                    <option value="Level 5">Level 5</option>
                                    <option value="Level 6">Level 6</option>
                                    <option value="Level 7">Level 7</option>
                                    <option value="Level 8">Level 8</option>
                                    <option value="Level 9">Level 9</option>
                                     <option value="Level 10">Level 10</option>
                                    <option value="Level 11">Level 11</option>
                                     <option value="Level 12">Level 12</option>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </select>
                                

                                <select name="status" class="form-select mb-2" aria-label="Disabled select example" required>
                                    <option value="" selected disabled>Status</option>
                                    <option value="Pending">Pending
                                    </option>
                                    <option value="Approved">Approved
                                    </option>
                                    <option value="Declined">Declined
                                    </option>

                                </select>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Choose an image</label>
                                <input class="form-control" type="file" id="image" name="image" multiple>
                            </div>
                        </div>
                                    <button class="btn btn-primary" type="submit"> Add New Student</button>
                                </form>
                        </div>

                  
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>

          