<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/stars.css">

    <style>
        .student-profile {
            width: 100%;
            height: 100vh;

        }
    </style>

    <section class="student-profile mb-5">
        <section style="background-color: #eee;">
            <div class="container py-5">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <% if (student.images && student.images.length> 0) { %>
                                    <img src="<%= student.images[0].url %>" alt="student"
                                        class="rounded-circle img-fluid" style="width: 150px;">

                                    <% } else { %>
                                        <img src="/images/logo.png" alt="student" class="rounded-circle img-fluid"
                                            style="width: 150px;">
                                        <% } %>
                                            <h5 class="my-3">
                                                <%= student.student.firstName %>
                                                    <%= student.student.lastName %>
                                            </h5>
                                            <p class="text-muted mb-1">
                                                <strong>
                                                    <%= student.student.studentNumber %>
                                                </strong>
                                            </p>
                                            <p class="text-muted mb-1">
                                                <%= student.curriculum %>
                                            </p>
                                            <p class="text-muted mb-4">
                                                <%= student.yearLevel %>
                                            </p>

                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <p class="mb-4 ms-3 mt-4"><span class="text-primary font-italic me-1">Parent's Information</span> </p>
                               
                                <ul class="list-group list-group-flush rounded-3">
                                    
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p><strong>Father:</strong></p>
                                        <p class="mb-0"><%=student.parents.
                                            fatherName
                                            %></p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p><strong>Occupation</strong></p>
                                        <p class="mb-0"><%=student.parents.fatherOccupation%></p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p><strong>Mother:</strong></p>
                                        <p class="mb-0"><%=student.parents.motherName %></p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p><strong>Occupation</strong></p>
                                        <p class="mb-0"><%=student.parents.motherOccupation%></p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <p><strong>Phone Number</strong></p>
                                        <p class="mb-0"><%=student.parents.phoneNumber%></p>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Student's Information</span> </p>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= student.student.firstName %>
                                                <%= student.student.lastName %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Age</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= student.student.age %> Years Old
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Birthday</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%=student.student.birthday.toLocaleDateString() %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%=student.student.gender %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%=student.student.address %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">Student Rating</span> </p>
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Description</th>
                                                <th scope="col">Amount</th>
                                              </tr>
                                            </thead>
                                            <%for(let grade of student.grade){%>
                                            <tbody>
                                              <tr>
                                                <td><%=grade.description%> </td>
                                              <td><p class="starability-result" data-rating="<%= grade.rating %>">
                                                <small> Rated: <%= grade.rating %></small></td>
                                              </tr>
                                              
                                           
                                            </tbody>
                                           
                                            <%}%>
                                            
                                          </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">Fees</span> </p>

                                        
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Amount</th>
                                                  </tr>
                                                </thead>
                                                <%for(let fee of student.fee){%>
                                                <tbody>
                                                  <tr>
                                                    <td><%=fee.description%></td>
                                                    <td>$<%=fee.amount%></td>
                                                  </tr>
                                               
                                               
                                                </tbody>
                                               
                                                <%}%>
                                                
                                              </table>
                                              <p class="mt-4"><strong>Total Amount: <span style="margin-left:230px;">$<%= student.totalAmount %></span></strong> </p>
                                       
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
